
  ion-header {
    background-color: #f8f8f8;
  }

  ion-icon{
    font-size : 20px;
  }
  
  ion-toolbar {
    --background: transparent;
  }
  
  ion-title {
    color: #333;
    font-weight: bold;
  }
  
  .custom-card {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background-color: #e9e9e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  ion-card-content {
    padding: 15px;
    font-size: 0.9rem;
  }
  
  .custom-item {
    --background: #fff;
    --border-radius: 8px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
  }
  
  .custom-button {
    --border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-footer {
    --background: #f8f8f8;
  }
  
  ion-back-button {
    --color: lightblue;
  }
  