<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="car"></ion-icon> {{ 'Mes_vehicules' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button slot="start" color="primary" defaultHref="tabs/tab5"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let vehicle of vehicles" class="custom-card">
      <ion-card-header *ngIf="vehicle">
        {{ vehicle.marque }}
        <ion-button fill="clear" color="danger" (click)="deleteVehicule(vehicle)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-card-header>
      <ion-card-content *ngIf="vehicle">
        <p>{{ 'Plaque' | translate }}: {{ vehicle.plaque }}</p>
        <p>{{ 'Marque' | translate }}: {{ vehicle.marque }}</p>
        <p>{{ 'Type' | translate }}: {{ vehicle.type }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <ion-item class="custom-item">
    <ion-label position="stacked">{{ 'Plaque_immatriculation' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="plaque" required [class.invalid]="!validatePlate(plaque)" placeholder="1-ABC-123"></ion-input>
    <ion-text color="danger" *ngIf="!validatePlate(plaque) && plaque">
      {{ 'Format_invalide' | translate }}. {{ 'Format_doit_etre' | translate }} : 1-ABC-123
    </ion-text>
  </ion-item>
  
  
    <ion-item>
      <ion-label position="stacked">{{ 'Marque_vehicule' | translate }}</ion-label>
    <ion-select placeholder="{{ 'Selectionnez_marque' | translate }}" [(ngModel)]="marque" required interface="popover">
      
        <ion-select-option value="Mercedes">Mercedes </ion-select-option>
        <ion-select-option value="BMW">BMW</ion-select-option>
        <ion-select-option value="Audi">Audi</ion-select-option>
        <ion-select-option value="Citroën">Citroën</ion-select-option>
        <ion-select-option value="Renault">Renault</ion-select-option>
        <ion-select-option value="Peugeot">Peugeot</ion-select-option>
        <ion-select-option value="Porsche">Porsche</ion-select-option>
        <ion-select-option value="Volkswagen">Volkswagen</ion-select-option>
        <ion-select-option value="Seat">Seat</ion-select-option>
        <ion-select-option value="Polestar">Polestar</ion-select-option>
        <ion-select-option value="tesla">tesla</ion-select-option>
        <ion-select-option value="Volvo">Volvo</ion-select-option>
        <ion-select-option value="Alfa Romeo">Alfa Romeo</ion-select-option>
        <ion-select-option value="Fiat">Fiat</ion-select-option>
        <ion-select-option value="Suzuki">Suzuki</ion-select-option>
        <ion-select-option value="Toyota">Toyota</ion-select-option>
        <ion-select-option value="Kia">Kia</ion-select-option>
        <ion-select-option value="Hyundai">Hyundai</ion-select-option>
        <ion-select-option value="Subaru">Subaru</ion-select-option>
        <ion-select-option value="Nissan">Nissan</ion-select-option>
        <ion-select-option value="Ford">Ford</ion-select-option>
        <ion-select-option value="Dodge">Dodge</ion-select-option>
        <ion-select-option value="Link&co">Link&co</ion-select-option>
        <ion-select-option value="Mini">Mini</ion-select-option>
        <ion-select-option value="Cupra">Cupra</ion-select-option>
        <ion-select-option value="Smart">Smart</ion-select-option>
        <ion-select-option value="Abarth">Abarth</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Type_vehicule' | translate }}</ion-label>
      <ion-select placeholder="{{ 'Selectionnez_type' | translate }}" [(ngModel)]="type" required interface="popover">
      
        <ion-select-option value="Berline">Berline </ion-select-option>
        <ion-select-option value="BMW">Moto</ion-select-option>
        <ion-select-option value="Citadine">Citadine</ion-select-option>
        <ion-select-option value="4x4">4x4</ion-select-option>
        <ion-select-option value="Camionette">Camionette</ion-select-option>
        <ion-select-option value="Pick-up">Pick-up</ion-select-option>
        
        
      </ion-select>
    </ion-item>



    <ion-button class="custom-button" (click)="ajouterVehicule()">{{ 'Ajouter_vehicule' | translate }}</ion-button>
  </ion-content>
 