<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>car</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ma voiture</ion-title>
    </ion-toolbar>
  </ion-header>
  

    <ion-card *ngFor="let vehicle of vehicles">
  <ion-card-header *ngIf="vehicle">
    {{ vehicle.marque }}
    <ion-button fill="clear" color="danger" (click)="deleteVehicule(vehicle)">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-card-header>
  <ion-card-content *ngIf="vehicle">
    Plaque d'immatriculation: {{ vehicle.plaque }}<br>
    Marque du véhicule: {{ vehicle.marque }}<br>
    Type du véhicule: {{vehicle.type}}<br>
  </ion-card-content>
</ion-card>

  
    <ion-item>
      <ion-label position="stacked">Plaque d'immatriculation</ion-label>
      <ion-input type="text" [(ngModel)]="plaque" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Marque du véhicule</ion-label>
      <ion-select placeholder="Sélectionnez la marque" [(ngModel)]="marque" required interface="popover">
      
        <ion-select-option value="Mercedes">Mercedes </ion-select-option>
        <ion-select-option value="BMW">BMW</ion-select-option>
        <ion-select-option value="Audi">Audi</ion-select-option>
        <ion-select-option value="Citroën">Citroën</ion-select-option>
        <ion-select-option value="Renault">Renault</ion-select-option>
        <ion-select-option value="Peugeot">Peugeot</ion-select-option>
        <ion-select-option value="Porsche">Porsche</ion-select-option>
        <ion-select-option value="Volkswagen">Volkswagen</ion-select-option>
        <ion-select-option value="Seat">Seat</ion-select-option>
        <ion-select-option value="Polestar">Polestar</ion-select-option>
        <ion-select-option value="tesla">tesla</ion-select-option>
        <ion-select-option value="Volvo">Volvo</ion-select-option>
        <ion-select-option value="Alfa Romeo">Alfa Romeo</ion-select-option>
        <ion-select-option value="Fiat">Fiat</ion-select-option>
        <ion-select-option value="Suzuki">Suzuki</ion-select-option>
        <ion-select-option value="Toyota">Toyota</ion-select-option>
        <ion-select-option value="Kia">Kia</ion-select-option>
        <ion-select-option value="Hyundai">Hyundai</ion-select-option>
        <ion-select-option value="Subaru">Subaru</ion-select-option>
        <ion-select-option value="Nissan">Nissan</ion-select-option>
        <ion-select-option value="Ford">Ford</ion-select-option>
        <ion-select-option value="Dodge">Dodge</ion-select-option>
        <ion-select-option value="Link&co">Link&co</ion-select-option>
        <ion-select-option value="Mini">Mini</ion-select-option>
        <ion-select-option value="Cupra">Cupra</ion-select-option>
        <ion-select-option value="Smart">Smart</ion-select-option>
        <ion-select-option value="Abarth">Abarth</ion-select-option>
        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type du véhicule</ion-label>
      <ion-select placeholder="Sélectionnez le type de véhicule" [(ngModel)]="type" required interface="popover">
      
        <ion-select-option value="Berline">Berline </ion-select-option>
        <ion-select-option value="BMW">2 roues</ion-select-option>
        <ion-select-option value="Citadine">Citadine</ion-select-option>
        <ion-select-option value="4x4">4x4</ion-select-option>
        <ion-select-option value="Camionette">Camionette</ion-select-option>
        <ion-select-option value="Pick-up">Pick-up</ion-select-option>
        
        
      </ion-select>
    </ion-item>



    <ion-button expand="full" (click)="ajouterVehicule()">Ajouter véhicule</ion-button>
</ion-content>

<ion-footer>
  <ion-label>
  <ion-buttons slot="start">
    <ion-back-button slot="start" defaultHref="../tab5"></ion-back-button>
  </ion-buttons>
</ion-label>
</ion-footer>

 