<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-button class="close" slot="start" (click)="fermerPage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="questions">Des questions ?</ion-button>
   
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/images/parking.png" alt="parking" style="width: 85%; margin: auto; border-radius: 10px; position: relative;"></ion-img>
  
  <ion-text class="etape1">
    Etape 1
  </ion-text>
  <ion-text class="T-etape1">
    Parmi les propositions suivantes, laquelle décrit le mieux votre parking ?
  </ion-text>
  <ion-item>
  <ion-card><ion-icon name="car"></ion-icon> Emplacement</ion-card>
  <ion-card><ion-icon name="people"></ion-icon> Parking partagé</ion-card>
</ion-item>
<ion-item class="last">
  <ion-card><ion-icon name="cube"></ion-icon> Box</ion-card>
  <ion-card><ion-icon name="home"></ion-icon> Garage</ion-card>
</ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/annonces">retour</ion-back-button>
    <ion-button slot="end" (click)="redirigerVerslocalisation()">Suivant <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
