<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes emplacements réservés</ion-title>
    <ion-back-button slot="start" color="primary" defaultHref="tabs/annonces"></ion-back-button>
  </ion-toolbar>
</ion-header>

<div class="wallet-amount-container" (click)="goToPayPage()">
  <ion-label class="wallet-amount">{{ totalWalletAmount *0.80 }} EUR</ion-label>
</div>

<ion-content fullscreen="true">

  <ion-card *ngFor="let reservation of reservations">
    <ion-card-header>
      <ion-card-title>Numéro de réservation: {{ reservation.reservationId }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      
      <p>Le {{ reservation.day }} de: {{ reservation.departureTime }} à  {{ reservation.endTime }}</p>
      <p>Vehicule: {{ reservation.vehicleMarque }} - {{ reservation.vehiclePlaque }}</p>
      <p>Durée: {{ reservation.duration }} </p>
      <p>Prix total: {{ reservation.totalPrice}} EUR </p>
      <p>montant à perçevoir après commission: {{ reservation.totalPrice*0.8}} EUR </p>
     
    </ion-card-content>
  </ion-card>
  
  
    
  
  

  </ion-content>