<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-back-button slot="start" defaultHref="annonces">
        <ion-icon name="close"></ion-icon>
      </ion-back-button>
      <ion-button slot="end" class="questions"><ion-icon name="help"></ion-icon></ion-button>
   
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="stacked">Description :</ion-label>
      <ion-input [(ngModel)]="emplacement.Description" [counter]="true" maxlength="1000"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Heure de début :</ion-label>
      <ion-input [(ngModel)]="emplacement.HeureDebut" type="time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Heure de fin :</ion-label>
      <ion-input [(ngModel)]="emplacement.HeureFin" type="time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jours de disponibilité :</ion-label>
      <ion-select [(ngModel)]="emplacement.Jours" multiple="true">
        <ion-select-option value="lundi">Lundi</ion-select-option>
        <ion-select-option value="mardi">Mardi</ion-select-option>
        <ion-select-option value="mercredi">Mercredi</ion-select-option>
        <ion-select-option value="jeudi">Jeudi</ion-select-option>
        <ion-select-option value="vendredi">Vendredi</ion-select-option>
        <ion-select-option value="samedi">Samedi</ion-select-option>
        <ion-select-option value="dimanche">Dimanche</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre de place(s) :</ion-label>
      <ion-input [(ngModel)]="emplacement.NombrePlace" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type de parking :</ion-label>
      <ion-select [(ngModel)]="emplacement.ParkingType" position="stacked">
      <ion-select-option value="Emplacement">Emplacement</ion-select-option>
      <ion-select-option value="Parking partagé">Parking partagé</ion-select-option>
      <ion-select-option value="Garage">Garage</ion-select-option>
      <ion-select-option value="Box">Box</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type(s) de véhicule accepté(s) :</ion-label>
      <ion-select [(ngModel)]="emplacement.VehicleType" position="stacked" multiple="true">
      <ion-select-option value="Deux roues">Deux roues</ion-select-option>
      <ion-select-option value="Citadine">Citadine</ion-select-option>
      <ion-select-option value="Berline">Berline</ion-select-option>
      <ion-select-option value="4x4">4x4</ion-select-option>
      <ion-select-option value="Pick-up">Pick-up</ion-select-option>
      <ion-select-option value="Camionnette">Camionnette</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-button expand="full" (click)="updateEmplacement()">Mettre à jour</ion-button>
</ion-content>

