.avatar{
    margin-top: 35px;
    margin-bottom: 25px;
    width: 50px;
}

.perso{
    margin-top: 30px;
    margin-bottom: 15px;
}

.car{
    margin-top: 30px;
    margin-bottom: 15px;
}

.pay{
    margin-top: 30px;
    margin-bottom: 15px;
}

.FAQ{
    margin-top: 30px;
    margin-bottom: 15px;
}

.deco{
    margin-top: 180px;
}