<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" translate="MES_PLACES"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-text class="T1" translate="METTEZ_VOTRE_PLACE"></ion-text>

      <ion-item>
        <ion-label class="T2" translate="VOUS_POURRIEZ_GAGNER"></ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label class="somme">{{ somme | currency: 'EUR' }}</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label class="estimation" translate="POUR_X_JOURS" [ngPlural]="valeur">
          <span class="underline-text">{{ valeur }}</span> {{ valeur === 0 || valeur === 1 ? 'jour' : 'jours' }}
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-range [(ngModel)]="valeur" min="1" max="30" step="1" [pin]="true" (ionChange)="calculerSomme()">
        </ion-range>
      </ion-item>

      <ion-button (click)="afficherEstimation()" class="search" color="light">
        <ion-icon name="search-outline" style="color: #46d1c8;"></ion-icon>
        <div class="search-button-text" translate="BRUXELLES_PLACE_PARKING"></div>
      </ion-button>

      <ion-img class="image" src="assets/images/cartebxl.png" alt="Carte de Bruxelles" style="width: 85%; margin: auto; border-radius: 10px; position: relative;"></ion-img>

      <ion-item>
        <ion-label class="start" translate="AVEC_PARKHUB_CEST_FACILE"></ion-label>
      </ion-item>

      <div class="etapes">
        <ion-text style="text-align: center;">
          <h2 translate="LOUEZ_VOTRE_PLACE"></h2><br>
          <h3 translate="ETAPE_1"></h3>
          <p translate="SAISISSEZ_INFOS_PARKING"></p>
          <br>
          <h3 translate="ETAPE_2"></h3>
          <p translate="RENDEZ_ANNONCE_ATTRAYANTE"></p>
          <br>
          <h3 translate="ETAPE_3"></h3>
          <p translate="LANCEZ_VOUS"></p>
        </ion-text>
      </div>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="fixed-button">
    <ion-button color="primary" (click)="redirigerVersAnnonces()" translate="PARKHUB_START">
      <ion-icon name="car-outline"></ion-icon> ParkHub Start
    </ion-button>
  </div>
</ion-footer>
