/* mes-moyens-paiement.page.scss */

ion-content {
    --ion-background-color: #f5f5f5; /* Couleur de fond légèrement grise */
  }

  ion-title{
    font-weight: bold;
    color: #000000; /* Utilisez la couleur bleue que vous avez mentionnée */
    margin-bottom: 20px;
    margin-top: 20px;
  }

.no-payment-methods {
  font-size: 16px;
  text-align: center;
  margin-top: 20%;
}
  ion-button {
    margin-top: 10px;
  }

  ion-button.add-payment-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
  
  ion-popover {
    max-width: 90%;
  }
  
  ion-content {
    background-color: transparent; /* Fond transparent pour le popover */
  }
  