<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Portefeuille</ion-title>
    <ion-back-button slot="start" color="primary" defaultHref="tabs/annonces"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- Display the wallet amount here -->

  <div class="montant-container">
    <ion-label class="montant"> Montant disponible </ion-label>
  </div>

  <div class="wallet-amount-container">
    <ion-label class="wallet-amount">{{ totalWalletAmount }} EUR</ion-label>
  </div>

  <div class="transfert-container">
    <ion-label class="transfert"> Transférer vers compte bancaire </ion-label>
  </div>

 


<ion-content [fullscreen]="true" class="ion-padding">
 
  
  

  <!-- Affiche le bouton "+" pour ajouter un moyen de paiement -->
  <ion-button
    expand="full"
    shape="round"
    color="primary"
    class="add-payment-button"
    (click)="openAddPaymentMethodPopup()"
    *ngIf="!hasPaymentMethods"
  >
    +
  </ion-button>

  <!-- Pop-up pour ajouter une carte de crédit -->
  <ion-popover
    showBackdrop="true"
    (ionPopoverDidDismiss)="closeAddPaymentMethodPopup()"
    *ngIf="isAddPaymentMethodPopupOpen">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ajouter une carte de crédit</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeAddPaymentMethodPopup()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Contenu du pop-up ici -->
      <ion-button expand="full">Ajouter une carte de crédit</ion-button>
    </ion-content>
  </ion-popover>
</ion-content>
