/* mes-moyens-paiement.page.scss */


  ion-title{
    font-weight: bold;
    color: #000000; /* Utilisez la couleur bleue que vous avez mentionnée */
    margin-bottom: 20px;
    margin-top: 5px;
  }

.no-payment-methods {
  font-size: 16px;
  text-align: center;
  margin-top: 20%;
}
  ion-button {
    margin-top: 10px;
  }

  ion-button.add-payment-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
  
  ion-popover {
    max-width: 90%;
  }
  
 

  .wallet-amount-container {
 
  margin-top: 50px; /* Adjust as needed */
  left: 50%; 
  z-index: 999; /* Set a high z-index to make sure it's above everything */
  text-align: center;
  background-color: transparent; /* Set the background color to black */
  width: 100px; /* Set the width */
  height: 70px; /* Set the height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-amount {
  font-size: 1.5em; /* Adjust as needed */
  font-weight: bold;
  color: black; /* Set the text color to black */
}