<ion-content [fullscreen]="true">
 
  <div >
    <p class="titre"> Réinitialisez votre mot de passe </p>
  </div>
 
  <div >
    <p class="soustitre"> Entrer votre adresse mail pour changer votre mot de passe </p>
  </div>
 
 
 
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input label="Adresse mail" labelPlacement="floating" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
 
       
    </div>
  <ion-fab class="boutton">
    <ion-button clas="boutton" fill="outline">Envoyer un mail</ion-button>
  </ion-fab>
 
  </form>
 
 
 
   
   
    </ion-content>