<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content fullscreen="true">
  <!-- Liste des personnes qui envoient des messages -->
  <ion-list>
    <ion-item *ngFor="let person of messageSenders">
      <ion-avatar slot="start">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ person.name }}</h2>
        <p>Dernier message : {{ person.lastMessage }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
