<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="messages">
    <div *ngFor="let message of messages" [class]="message.sender === authService.uid ? 'message mine' : 'message other-user'">
      <div *ngIf="message.sender === authService.uid" class="profile-pic">
        <img [src]="myProfilePic">
      </div>
      <div class="message-content">
        <div class="message-header">
          <strong>{{ message.senderName }}</strong>
        </div>
        <p>{{ message.text }}</p>
      </div>
      <div *ngIf="message.sender !== authService.uid" class="profile-pic">
        <img [src]="otherUserProfilePic">
      </div>
    </div>
  </div>
  <div class="message-input-container">
    <input type="text" class="message-input" placeholder="Tapez votre message..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)">
    <button class="send-button" (click)="sendMessage(newMessage)"><ion-icon name="paper-plane" style="font-size: 17px;"></ion-icon></button>
  </div>
</ion-content>
