<ion-header class="ion-no-border">
	<ion-toolbar>
		

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="primary" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>


  <ion-item lines="none">

		<ion-avatar slot="start">
			<ion-icon size="large" name="person-circle-outline"></ion-icon>
      
    </ion-avatar>
			<ion-label>
				<p>Bonjour,</p>
				<h3>Mohamed Mjahed</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <swiper-container>
      <swiper-slide>
        <ion-card>
          <ion-card-header>

          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Evènement 1</ion-card-title>
            
            
          </ion-card-content>
        </ion-card>
      </swiper-slide>

      <swiper-slide>
        <ion-card>
          <ion-card-header>
            
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Evenement 2</ion-card-title>
            
          </ion-card-content>
        </ion-card>
      </swiper-slide>

      <swiper-slide>
        <ion-card>
          <ion-card-header>

          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Evènement 3</ion-card-title>
            
            
          </ion-card-content>
        </ion-card>
      </swiper-slide>

    </swiper-container>
  </div>

  <ion-toolbar color="tertiary">
    <ion-searchbar
      search-icon="search-circle" 
      animated="true" 
      show-clear-button="focus" 
      clear-icon ="trash-bin"
      debounce="800" 
      placeholder="Entrez l'adresse"
      color="light"
      >
    </ion-searchbar>
  </ion-toolbar>