<ion-header [translucent]="true">

 
 
  <ion-item lines="none">
 
    <ion-avatar slot="start">
      <ion-icon size="large" name="person-circle-outline"></ion-icon>
     
    </ion-avatar>
      <ion-label>
        <p>Bonjour,</p>
        <h3>{{ prenom }} {{ nom }}</h3>
      </ion-label>
 
      <ion-fab vertical="bottom" horizontal="end"  slot="end">
      <ion-fab-button size="small"  style="margin-top: 20px;">
      <ion-icon style="color: white;" name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  </ion-item>
 
</ion-header>
 
<ion-content fullscreen="true">
 
  <div class="slides ion-margin-bottom">
    <swiper-container>
      <swiper-slide>
        <ion-card>
          <ion-card-header>

             <!-- Ajoute un lien autour de l'image -->
          <a id="imgtour" href="https://www.bruxelles-j.be/actus/salon-siep-2022-tour-taxi/">
            <!-- Ajoute l'image avec l'attribut src -->
            <img src="assets/TOUR.jpg" alt="Description de l'image">
          </a>
 
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom"></ion-card-title>

           
           
          </ion-card-content>
        </ion-card>
      </swiper-slide>
 
      <swiper-slide>
        <ion-card>
          <ion-card-header>
           
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Evenement 2</ion-card-title>
           
          </ion-card-content>
        </ion-card>
      </swiper-slide>
 
      <swiper-slide>
        <ion-card>
          <ion-card-header>
 
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Evènement 3</ion-card-title>
           
           
          </ion-card-content>
        </ion-card>
      </swiper-slide>
 
    </swiper-container>
  </div>
 
 
  <ion-toolbar color="primary">
    <ion-searchbar [debounce]="600" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Cherchez une adresse"></ion-searchbar>
  </ion-toolbar>
 
 
  <ion-list  lines="none" [inset]="true" *ngIf="autocompleteItems.length > 0" class="prediction-list" [hidden]="autocompleteItems.length === 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  
 
 
 
 
 
  <div id="container">
 
    <capacitor-google-map #map id="map"></capacitor-google-map>
 
 
  </div>