
.title{
  font-size: 1.5rem;
}
  

ion-content {
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #46d1c8; /* Utilisez la couleur bleue que vous avez mentionnée */
  margin-bottom: 20px; /* Pour ajouter un espace entre le titre et les cartes */
}