<ion-header>
  <ion-toolbar>
    <ion-title>
      Réservation(s)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1>Réservation(s) en cours</h1>
  <ion-card *ngFor="let res of reservationData">
    <ion-card-header>
      {{ res.address }}
    </ion-card-header>
    <ion-card-content>
      <p><strong>Description:</strong> {{ res.description }}</p>
      <p><strong>Parking Type:</strong> {{ res.parkingType }}</p>
      <p><strong>Vehicle Type:</strong> {{ res.vehicleType }}</p>
      <p><strong>Price:</strong> {{ res.price }}</p>
      <p><strong>Début de réservation:</strong> {{ res.departureTime }}</p>
      <p><strong>Fin de réservation:</strong> {{ res.endTime }}</p>

      <ion-item>
        <ion-label>Confirmer la réservation</ion-label>
        <ion-toggle (ionChange)="confirmReservation(res, $event.checked)"></ion-toggle>
      </ion-item>

        
    </ion-card-content>
  </ion-card>
  
  
 
  

  
  

  
  
</ion-content>


  