// tab3.page.scss
.reservation-card {
    background-color: lightblue;
  }
  
  .place-card {
    background-color: lightgreen;
  }
  
  .active-tab {
    background-color: #007bff; /* couleur de fond pour indiquer la sélection */
    color: #ffffff; 
  }
  