.strong1{
  color:red;
}
.title{
  font-size: 1.5rem;
}
  

ion-content {
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #46d1c8; /* Utilisez la couleur bleue que vous avez mentionnée */
  margin-bottom: 20px; /* Pour ajouter un espace entre le titre et les cartes */
}

h2{
  font-weight: bold;
  color: #46d1c8;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.custom-card ion-card-header {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location-address {
    font-weight: bold;
    margin-bottom: 20px;
  }

  img {
    width: auto; /* Conserve la taille originale de l'image */
    height: auto; /* Conserve la taille originale de l'image */
    border-radius: 20px; /* Bords arrondis */
    object-fit: cover; /* Pour maintenir les proportions de l'image */
  }
}

.custom-card ion-card-content {
  padding: 15px;
}

.countdown {
  color: red;
}

.reserved {
  color: green;
}

.custom-button {
  --background: #46d1c8;
  color: #fff;
  font-size: 16px;
  height: 40px;
}
