.custom-popover {
    --width: 80%; // Ajustez selon vos besoins
    
    --top: 50%; // Ajustez selon vos besoins
    --left: 50%; // Ajustez selon vos besoins
    --transform: translate(-50%, -50%) !important;
  }