<!-- conditions.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title class="titre">
      Conditions Générales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="text1">
    Bienvenue sur Parkhub ! En utilisant notre application, vous acceptez les conditions générales d'utilisation énoncées ci-dessous.
    Nous vous encourageons à les lire attentivement.
  </p>

  <p>
    1. Les personnes qui proposent des emplacements à la location sont responsables de signaler toute infraction ou manque de respect envers les horaires ou les réservations.
    En tant qu'utilisateur proposant un emplacement, vous êtes prié de maintenir un environnement respectueux et conforme aux horaires convenus.
  </p>

  <p>
    2. Les utilisateurs signalés trois fois pour des infractions ou des manquements graves aux règles de réservation et d'utilisation seront soumis à des mesures disciplinaires.
    Ces mesures peuvent inclure le bannissement de l'application, restreignant l'accès aux fonctionnalités de location.
  </p>

  <p>
    3. Pour soutenir le fonctionnement et le développement de notre plateforme, ParkHub prélève une commission de 20 % sur le montant total de chaque réservation effectuée.
  </p>

  <button (click)="acceptTerms()">Accepter</button>
</ion-content>

