<!-- conditions.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title class="titre">
      Conditions Générales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 
  <p class="text1" >
    Bienvenue sur Parkhub ! En utilisant notre application, vous acceptez les conditions générales d'utilisation énoncées ci-dessous.
    Nous vous encourageons à les lire attentivement.
  </p>

 <ion-title class="titre">
    Responsabilité de l'Utilisateur
  </ion-title>

  <p>
    1. Les personnes qui proposent des emplacements à la location sont responsables de signaler toute infraction ou manque de respect envers les horaires ou les réservations.
    En tant qu'utilisateur proposant un emplacement, vous êtes prié de maintenir un environnement respectueux et conforme aux horaires convenus.
  </p>
  
  <p>
    2. Vous vous engagez à utiliser l'application de manière licite, conforme à toutes les lois applicables. En utilisant l'application, vous consentez à la collecte, au stockage et au traitement de vos données personnelles conformément à notre politique de confidentialité.
  </p>
  
   <p>
   3. En utilisant l'application, vous consentez à recevoir des communications de la part de ParkHub, y compris des notifications, des mises à jour et des annonces.
   </p>

  <ion-title class="titre">
    Sanctions
  </ion-title>

  <p>
    4. Les utilisateurs signalés trois fois pour des infractions ou des manquements graves aux règles de réservation et d'utilisation seront soumis à des mesures disciplinaires.
    Ces mesures peuvent inclure le bannissement de l'application, restreignant l'accès aux fonctionnalités de location.
  </p>
  <p>
    5. ParkHub se réserve le droit de résilier ou de restreindre l'accès à l'application pour tout utilisateur en cas de violation des présentes conditions.
  </p>
 
  <ion-title class="titre">
    Paiements et facturation
  </ion-title>
  
   <p>
    6. Pour soutenir le fonctionnement et le développement de notre plateforme, ParkHub prélève une commission de 20 % sur le montant total de chaque réservation effectuée.
   </p>
  
   <p>
    7. Des frais de service peuvent être appliqués pour certains services de l'application. Ces frais sont non remboursables en cas d'annulation, sauf si l'annulation est effectuée dans les 5 minutes suivant la transaction initiale.

  


  <div class="center-container">

  <button class="my-custom-button" (click)="acceptTerms()">Accepter</button>

</div>
</ion-content>

