<!-- conditions.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title  translate>
      Conditions_Generales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="text1" translate>
    Bienvenue_Parkhub
  </p>

  <ion-title class="titre" translate>
    Responsabilite_Utilisateur
  </ion-title>

  <p translate>
    Responsabilite_1
  </p>

  <p translate>
    Responsabilite_2
  </p>

  <p translate>
    Responsabilite_3
  </p>

  <ion-title class="titre" translate>
    Sanctions
  </ion-title>

  <p translate>
    Sanctions_4
  </p>
  
  <p translate>
    Sanctions_5
  </p>

  <ion-title class="titre" translate>
    Paiements_Facturation
  </ion-title>

  <p translate>
    Paiements_6
  </p>

  <p translate>
    Paiements_7
  </p>

  <div class="center-container">
    <button class="my-custom-button" (click)="acceptTerms()" translate>
      Accepter
    </button>
  </div>
</ion-content>
