.T-loc{
    margin : 30px;
    font-size: 1.6rem;
    white-space: normal;
    display: block;
}

.loc1{
        margin : 30px;
        font-size: 1rem;
        margin-bottom: 10px; 
        display: block;   
}