<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="close" slot="start" (click)="fermerPage()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="questions">?</ion-button>
    <ion-title class="title">Prix et disponibilités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-label position="floating" style="white-space: normal;">Prix par heure de votre parking :</ion-label>
    <br>
    <ion-range class="prix-range" [(ngModel)]="prix" min="0" max="20" step="0.25" [pin]="true" [pinFormatter]="pinFormatter">
      <ion-label slot="start">0€</ion-label>
      <ion-label slot="end">20€</ion-label>
    </ion-range>
    <div class="prix-label">Prix par heure : {{ prix }}€</div>
  </ion-item>
  <br>


  <ion-button (click)="afficherSelections()">Afficher les sélections</ion-button>

  <ion-card *ngIf="isSelectionsAffichees">
    <ion-card-header *ngIf="isSelectionsAffichees">
      Sélections
    </ion-card-header>
    <ion-card-content *ngIf="isSelectionsAffichees">
      Prix : {{ prix }}€ <br>
      
    </ion-card-content>
  </ion-card>
  
  <ion-label *ngIf="isSelectionsAffichees" class="date-saved">Informations enregistrées</ion-label><br><br>

  <ion-text>Vous pourrez activer ou desactiver votre emplacement à tout moment !</ion-text>
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/nbplaces">Retour</ion-back-button>
    <ion-button slot="end" (click)="redirigerVersDesc()">Suivant <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
