<!-- recapitulatif.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Récapitulatif de l'annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Type de parking -->
<ion-item *ngIf="(selectedParkingType$ | async) as selectedParkingType">
  <ion-label position="stacked">Type de parking</ion-label>
  <ion-note>{{ selectedParkingType }}</ion-note>
</ion-item>


  <!-- Adresse du parking -->
<ion-item *ngIf="(selectedParkingAddress$ | async) as selectedParkingAddress">
  <ion-label position="stacked">Adresse du parking</ion-label>
  <ion-note>{{ selectedParkingAddress }}</ion-note>
</ion-item>


  <!-- Nombre de places disponibles -->
  <ion-item *ngIf="(numberOfPlaces$ | async) as numberOfPlaces">
    <ion-label position="stacked">Nombre de places disponibles</ion-label>
    <ion-note>{{ numberOfPlaces }}</ion-note>
  </ion-item>

  <!-- Types de véhicules acceptés -->
  <ion-item *ngIf="(selectedVehicleTypes$ | async)?.length > 0">
    <ion-label position="stacked">Types de véhicules acceptés</ion-label>
    <ion-note>{{ (selectedVehicleTypes$ | async)?.join(', ') }}</ion-note>
  </ion-item>

  <!-- Description -->
  <ion-item *ngIf="(selectedDescription$ | async) as selectedDescription">
    <ion-label position="stacked">Description</ion-label>
    <ion-note>{{ selectedDescription }}</ion-note>
  </ion-item>

  <ion-item *ngIf="(selectedPrice$ | async) as selectedPrice">
    <ion-label position="stacked">Prix</ion-label>
    <ion-note>{{ selectedPrice }}€</ion-note>
  </ion-item>
  


  <!-- Photos -->
  <ion-item *ngIf="(selectedPhotos$ | async) as selectedPhotos">
    <ion-label position="stacked">Photos</ion-label>
    <ion-row>
      <ion-col *ngFor="let photo of selectedPhotos">
        <img [src]="photo" alt="Selected Photo" class="selected-photo" />
      </ion-col>
    </ion-row>
  </ion-item>

<br>
  <!-- Ajout de la sélection des jours de la semaine -->
<ion-row class="custom-margin">
  <ion-text style="white-space: normal; margin-left: 20px; ">Choisissez les jours de la semaine pendant lesquels votre parking sera disponible :</ion-text>
</ion-row>
<ion-row>
  <ion-col size="2" *ngFor="let day of days">
    <ion-button class="jours" expand="full" (click)="toggleDay(day)" [color]="day.selected ? 'primary' : 'medium'" [class.selected]="day.selected">{{ day.name }}</ion-button>
  </ion-col>
</ion-row>

<!-- Sélection de l'heure de début -->
<ion-row class="custom-margin">
  <ion-item>
    <ion-label>Heure de début</ion-label>
    <ion-input type="time" [(ngModel)]="heureDebut"></ion-input>
  </ion-item>
</ion-row>

<!-- Sélection de l'heure de fin -->
<ion-row class="custom-margin">
  <ion-item>
    <ion-label>Heure de fin</ion-label>
    <ion-input type="time" [(ngModel)]="heureFin"></ion-input>
  </ion-item>
</ion-row>


  <!-- Bouton on/off pour poster l'annonce -->
  <ion-item>
    <ion-toggle [(ngModel)]="isAdPosted">Poster l'annonce</ion-toggle>
  </ion-item>

  <!-- Bouton de validation -->
  <ion-button (click)="ajouterEmplacement()">Valider</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/description">Retour</ion-back-button>
  </ion-toolbar>
</ion-footer>

