<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-button class="close" slot="start" (click)="fermerPage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="questions">Des questions ?</ion-button>
   
    <ion-title class="title"></ion-title>


<ion-content>
  <ion-toolbar>
    
  </ion-toolbar>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/annonces">Retour</ion-back-button>
    <ion-button slot="end">Suivant <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
