<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-button class="close" slot="start" (click)="fermerPage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="questions">Des questions ?</ion-button>
   
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img src="assets/images/Cars.png" alt="voitures" style="width: 85%; margin: auto; border-radius: 10px; margin-top: 50px; margin-bottom: 50px; position: relative;"></ion-img>

  <ion-text class="T-nb">
    Combien de voiture votre parking peut-il accueillir ?
  </ion-text>
  <ion-text class="nbplaces">
   Indiquez uniquement le nombre de places que vous souhaitez mettre en location.
  </ion-text>

  <ion-item>
    <ion-label class="nb-places">Nombre de places disponibles :</ion-label>  
    <ion-buttons slot="end">
      <ion-button (click)="decrementPlaces()"><ion-icon name="remove-outline"></ion-icon></ion-button>
      <ion-label>{{ NombrePlaces }}</ion-label>
      <ion-button (click)="incrementPlaces()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/localisation">Retour</ion-back-button>
    <ion-button slot="end" (click)="redirigerVersDescription()">Suivant <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
