<!-- modal.component.html -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h1 style="text-align: center;">Carrefour Market</h1>
    <p style="text-align: center; font-size: 16px;">Situé en plein centre-ville, le parking propose 80 places à partir de 20h jusque 9h du matin et durant toute la journée le dimanche.</p>
    <p style="text-align: center; font-size: 20px;">Rue Melsens 28, 1000 Bruxelles</p>
    <p style="text-align: center; font-size: 20px;">Prix par heure : {{ fixedPrice }}€</p> <!-- Prix fixe -->


    <div style="text-align: center; margin-bottom: 10px;">
      <img src="assets/carrefour.jpg" alt="Carrefour" style="max-width: 100%; height: auto;">
    </div>

    
    <div>
      <label for="startHour" style="text-align: center; font-size: 18px;" >Heure de début :</label>
      <input type="time" id="startHour" name="startHour" [(ngModel)]="startHour" (change)="calculateEndTime()" style="margin-right: 10px;">
    </div>

    <div>
      <label for="durationHours" style="text-align: center; font-size: 18px;">Durée (en heures) :</label>
      <input type="number" id="durationHours" name="durationHours" [(ngModel)]="durationHours" (change)="calculateEndTime()" style="margin-right: 10px;">
    </div>
    
    <div>
      <label for="endHour" style="text-align: center; font-size: 18px;">Heure de fin :</label>
      <input type="text" id="endHour" name="endHour" [(ngModel)]="endHour" readonly style="margin-right: 10px;">
    </div>
    

    <div>
      <p style="text-align: center; font-size: 22px;">Prix Final : {{ calculateFinalPrice() }}€</p> <!-- Nouvelle ligne pour afficher le prix final -->
    </div>


    <button (click)="reserve()" class="reserverbut" style="display: block; margin-top: 10px; margin-left: auto; margin-right: auto;">Réserver</button>
  </div>
</div>
