<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" [(ngModel)]="nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text" [(ngModel)]="prenom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input type="tel" [(ngModel)]="telephone"></ion-input>
  </ion-item>

  

  <ion-button expand="full" (click)="enregistrer()">Enregistrer</ion-button>
</ion-content>

<ion-footer>
  <ion-label>
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="../tab5"></ion-back-button>
    </ion-buttons>
  </ion-label>
</ion-footer>
