<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="white-space: normal;">{{ 'Donnees_personnelles' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="../tab5" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">{{ 'Nom' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="nom" pattern="[a-zA-Z ]*" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'Prenom' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)]="prenom" pattern="[a-zA-Z ]*" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'Telephone' | translate }}</ion-label>
    <ion-input type="tel" [(ngModel)]="telephone" pattern="[0-9]*" required value="+32"></ion-input>
  </ion-item>

  <ion-button color="primary" (click)="enregistrer()">{{ 'Enregistrer' | translate }}</ion-button>
</ion-content>
