.T-desc{
    margin : 30px;
    font-size: 1.6rem;
    white-space: normal;
    display: block;
}

.description{
        margin : 30px;
        font-size: 1rem;
        margin-bottom: 50px; 
        display: block;   
}
