<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="close" slot="start" (click)="fermerPage()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="questions">{{ 'Des_questions' | translate }}</ion-button>
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text class="T-desc">
    {{ 'Vous_y_etes_presque' | translate }}
  </ion-text>

  <ion-text class="T-desc">
    {{ 'Maintenant_reedigez_description_parking' | translate }}
  </ion-text>

  <ion-text class="description">
    {{ 'Soyez_complets_details_utiles' | translate }}
  </ion-text>

  <div class="desc">
    <ion-input
      id="custom-input"
      label="{{ 'Votre_description' | translate }}"
      labelPlacement="floating"
      [counter]="true"
      maxlength="1000"
      [counterFormatter]="customCounterFormatter"
      [(ngModel)]="description"
      (ionChange)="modifierDescription()"
    ></ion-input>
  </div>  

  <ion-button class="enregistrer" (click)="enregistrerDescription()">{{ 'Enregistrer' | translate }}</ion-button>

  <!-- Carte pour afficher la description -->
  <ion-card *ngIf="isDescriptionSaved">
    <ion-card-header>
      {{ 'Description' | translate }}
    </ion-card-header>
    <ion-card-content>
      {{ description }}
    </ion-card-content>
  </ion-card>

  <!-- Message "Description enregistrée" -->
  <ion-label *ngIf="isDescriptionSaved" class="description-saved">{{ 'Description_enregistree' | translate }}</ion-label>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/nbplaces">{{ 'Retour' | translate }}</ion-back-button>
    <ion-button slot="end" (click)="redirigerVersRecap()">{{ 'Suivant' | translate }} <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
