<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-button class="close" slot="start" (click)="fermerPage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="questions">Des questions ?</ion-button>
   
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text class="T-desc">
    Vous y êtes presque !
  </ion-text>

  <ion-text class="T-desc">
    Maintenant, rédigez une description et ajoutez des photos votre parking.
  </ion-text>
  <ion-text class="description">
   Soyez complets, donnez des détails utiles aux utilisateurs qui liront votre annonce
  </ion-text>


  <ion-input
  id="custom-input"
  label="Votre description"
  labelPlacement="floating"
  [counter]="true"
  maxlength="1000"
  [counterFormatter]="customCounterFormatter"
></ion-input>

<br>
<br>

<ion-text class="T-desc">
  Ajouter des photos.
</ion-text>

<div class="upload-button">
<input type="file" (change)="handleFileInput($event)" accept="image/*" multiple />
<ion-icon name="add-circle"></ion-icon>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-back-button slot="start" defaultHref="/nbplaces">Retour</ion-back-button>
    <ion-button slot="end">Suivant <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>