
.T1 {
    font-weight: 1000;
    font-size: 1.8rem;
    text-align: left;
    white-space: normal;
    display: block;
    margin: 30px;
  }

.questions{
    text-align: right;
    font-size: small;
    border-radius: 30px !important ;
    border-width: 10px;
    background-color: none !important ;
}

.creer{
    margin: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}

.creation{
    margin: 30px;
    border-width: 10px;
    border-color: black;
}

ion-back-button {
    --color: lightblue; 
  }

  ion-card {
    position: relative;
  
    ion-button {
      position: absolute;
      top: 8px; 
      right: 8px;
    }
  }
  .reservations-button {
    background-color: yellow;
    color: black; 
    margin: 10px; 
  }

  .header-image {
    width: 100%; // Taille à 100% de la largeur du parent
    height: auto; // Hauteur automatique pour maintenir le rapport d'aspect
    border-radius: 4px; // Coins arrondis (facultatif)
    object-fit: cover; // Pour couvrir l'espace disponible sans déformer l'image
  }
  
  

