<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-back-button slot="start" defaultHref="tabs/tab4">
        <ion-icon name="close"></ion-icon>
      </ion-back-button>
      <ion-button slot="end" class="questions">Des questions ?</ion-button>
   
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-text class="T1" *ngIf="!aDesAnnonces">
      Nous sommes ravis de vous voir de ce côté de l'application !
    </ion-text>
    <br>
    <br>
    <ion-text class="creer">
      Créer une nouvelle annonce
    </ion-text>
    <ion-button class="creation" (click)="redirigerVersConfig1()"><ion-icon name="location"></ion-icon>  Créer une nouvelle annonce  <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-list>
  <ion-text class="creer" *ngIf="aDesAnnonces">Mes annonces</ion-text>
  <ion-card *ngFor="let emplacement of emplacements | async">
    <ion-card-header>
      {{ emplacement.Description }}
    </ion-card-header>
    <ion-card-content>
      Adresse: {{ emplacement.Adresse }}<br>
      Parking Type: {{ emplacement.ParkingType }}<br>
      Vehicle Type: {{ emplacement.VehicleType }}<br>
      Nombre de place : {{ emplacement.NombrePlace }}<br>
      Prix :{{ emplacement.Prix }}<br>
      Période : Du {{emplacement.DateDebut }} au {{emplacement.DateFin}}<br>

    </ion-card-content>
  </ion-card>
  
  
</ion-content>

