.nb-places{
    font-size: 1rem;
    white-space: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.ion-card-rounded{
    border-radius: 30px;
}

.ion-segment{
    background-color: #46d1c8 ;
}

.zone{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 1.5rem;
}

.parking{
    margin-left: 15px;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boutton{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom-button {
    font-size: 1.2rem; /* Taille de police personnalisée */
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
  }